@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
html{
  font-family: Chivo,sans-serif;
}

p,span,h1,h2,h3,h4,h5,h6,li,a,input,label,button{  font-family: Montserrat,sans-serif!important; }

body {
  background-color:#150c25;
  color: #f2f8fa;
}
textarea,input{
  background-color:	#fff;
  border-style: dashed;
  border-width: 2px;
  border-radius: 8px;
  margin-bottom: 5px;
  width: 100%; height: 43px; margin-bottom: 14px;
}
button{
  color:rgba(255, 255, 255, 0.65);
  border-radius: 15px;
  padding: 12px 25px 12px;
  background-color: #380c6a;
  border-style: solid;
  border-width: 1px;
  margin: 1px;
  border-color: #7300ff;
  text-align: center;
  font-size: 16px;
  outline: 0;
}

.button:focus,.button:active {
   outline: none !important;
   box-shadow: none;
}

.button:active, 
 button:active,
.button:focus, 
 button:focus,
.button:hover, 
 button:hover{
    border:none !important;
    outline:none !important;
}

button:hover{
  color:rgba(255, 255, 255, 0.95);
  background-color:#380c6a;
  border-color: #8621ff;
  border-width: 2px;
  margin: 0px;
}

.nav-link{  font-weight: 400; font-size:14px;  }
.nav-item{ margin-left:15px; }
.navButton {
  color: #999;
}
.navButton:hover {
  color: #334758 !important;
}

.alert-danger {
  color: #fff;
  background-color: #ffabb361;
  border-color: #ba0014;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}

input::-moz-focus-inner { 
  border: 0; 
}

.large-box {
  background: rgba(43,9,80,0.75);
  border-radius: 8px;
  border-color: #5b00a0;
  border-width: 1px;
  border-style: solid;
  margin: 5px;
}

.modal {
  color: black;
}

@keyframes disco {
  from {filter: hue-rotate(0deg);}
  to {filter: hue-rotate(360deg);}
}

.discoFilter {
  animation-name: disco;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
}

.reload {
  display: inline-block;
  font-family: Lucida Sans Unicode;
  cursor: pointer;
  animation-name: spinner;
  animation-duration: 0.75s;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  top: 16px;
}

.playAnim {
  animation-play-state: running;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.innerShadow {
  -webkit-box-shadow: inset hsla(0,0%,100%,.25) 0 2px 2px,inset rgba(0,0,0,.6) 0 -1px 8px;
  box-shadow: inset 0 2px 2px hsla(0,0%,100%,.25),inset 0 -1px 8px rgba(0,0,0,.6);
}

#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 3rem;    /* Footer height */
  margin-top: 75px;
}

.rm-pd{ padding:0px; }

.pullDown{
  width:100%;
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #080808;
  background-color:	#000000;
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  color:#ecd3af;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #334758 !important;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #b088ff !important;
}

.active {
  color: #b088ff !important;
}

/* Style the tab content */
.tabcontent {
  font-family:sans-serif;
  display: none;
  padding: 6px 12px;
  border-radius: 8px;
}
.footer {position: absolute; bottom: 0; width: 100%; background-color: #2b09508c; color: white; height: 4rem; padding-top: 10px; text-align: center; border-top-style: solid; border-top-color: #521186; border-width: 1px;}

.footer a{ color:white; font-weight:bold; }

.navbarSpecial{
      background: linear-gradient(90deg,#2c0b4c 12.5%,#500f83,#2c0b4c);
    border-bottom-color: #521186;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: fixed;
    width: 100%;
}

/* New styling */

.pivx-button-big{
  display: inline-block;
  outline: none;
  margin: 5px;
  font-family: Montserrat,sans-serif;
  padding: 16px 40px;
  background: linear-gradient( 183deg ,#9621ff, #7d21ff);
  line-height: 1.25em;
  font: 15px Montserrat,sans-serif!important;
  letter-spacing: .025em;
  font-family: Montserrat,sans-serif;
  color: #fffeff;
  text-transform: uppercase;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  border-radius: 35px;
  -webkit-box-shadow: 3px 3px 25px 2px rgb(26 14 42 / 50%);
  -moz-box-shadow: 3px 3px 25px 2px rgba(26,14,42,.5);
  box-shadow: 3px 3px 25px 2px rgb(26 14 42 / 50%);
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.home-hero {
    background: radial-gradient(45vw 80% at 90% 40%,rgba(162,50,255,.3),rgba(44,11,76,0) 95%),linear-gradient(
90deg
,rgba(44,11,76,.9),rgba(80,15,131,.5) 60%,rgba(44,11,76,.9)),linear-gradient(
35deg
,rgba(44,11,76,.3),rgba(80,15,131,.3) 37%,rgba(44,11,76,.3) 0,rgba(80,15,131,.3) 76%,rgba(44,11,76,.3) 0,rgba(80,15,131,.3)),linear-gradient(
90deg
,#2c0b4c,#500f83 60%,#2c0b4c);
}

.title-section{ margin-bottom:20px; float:left;  }

/*PIVX WARNINGS*/
.warning-message{ display:none; background-color:#9021fe; padding-top:20px; padding-bottom:20px; margin-bottom:15px;  }
.warning-message p{ margin-bottom:0px; }
.warning-message a { color: #ffffff; font-weight: bold; text-decoration: none; background-color: transparent; }
.alert-danger { color: #fff; background-color: #4b1282; border-color: #8300ff; }

/*PIVX TEXT CUSTOMS*/
.pivx-bold-title{ line-height: 1.35em; font-size: calc(37.88235px + .70588vw); font-weight: 700; font-family: Montserrat,sans-serif;;  }
.pivx-bold-title span{ font-size: .6em; display: block; line-height: 1.2em; font-weight: 300;  }

/*PIVX FEATURES SECTION*/
.pivx-feature-father{ margin-top:90px; }
.pivx-feature-interior{ background: url(/build/images/feature_box_bg.78eae374.svg),linear-gradient( 90deg ,#2b1542,#230f3c);padding:25px; text-align:center; border-radius: 10px; }
.pivx-feature-interior h4{font-size: 24px; font-weight: 600;     margin-top: 19px;}
.pivx-feature-interior h5{ text-indent: 30px; opacity: 0.65; padding: .7rem 0 1.25rem; line-height: 1.75em; font-size: 16px; font-weight: 300!important; }
.feature-icon img{ width: 146px; height: auto;  }
.feature-icon{ text-align: center; width: 100%!important; margin-top: -90px; min-height: 150px; }
.features-section{ margin-top: 0px;  }
.buttoni-icon{ vertical-align: top; display: inline-block; padding: 0 12px 0 0; -webkit-transition: all .2s ease-out; -moz-transition: all .2s ease-out; -o-transition: all .2s ease-out; transition: all .2s ease-out;  }
.buttoni-icon svg{display: block; width: auto; height: 24px; max-height: 24px; margin: 0; fill: #fffeff;}

.buttoni-text{ vertical-align: top; display: inline-block; padding: 2px 0 0;  }
.buttoni-arrow{ vertical-align: top!important; display: inline-block; padding: 4px 0 4px 10px; -webkit-transition: all .2s ease-out; -moz-transition: all .2s ease-out; -o-transition: all .2s ease-out; transition: all .2s ease-out;  }
.buttoni-arrow svg{ display: block; width: 15px; height: auto; margin: 0; fill: #fffeff;  }

.purple-icon-link { color: #9621ff; }
.purple-icon-link, .white-icon-link { padding: 0; font-weight: 500; text-transform: uppercase; }
.black-link .link-icon.link-icon-suffix, .dark-link .link-icon.link-icon-suffix, .faded-link .link-icon.link-icon-suffix, .gray-link .link-icon.link-icon-suffix, .light-link .link-icon.link-icon-suffix, .pink-link .link-icon.link-icon-suffix, .purple-icon-link .link-icon.link-icon-suffix, .purple-link .link-icon.link-icon-suffix, .shaded-link .link-icon.link-icon-suffix, .white-icon-link .link-icon.link-icon-suffix, .white-link .link-icon.link-icon-suffix, a .link-icon.link-icon-suffix { padding: 0 0 0 .6rem; float: right; margin-top: 2px; -webkit-transition: padding-left .14s ease-out; -moz-transition: padding-left .14s ease-out; -o-transition: padding-left .14s ease-out; transition: padding-left .14s ease-out; }
.black-link .link-icon svg, .dark-link .link-icon svg, .faded-link .link-icon svg, .gray-link .link-icon svg, .light-link .link-icon svg, .pink-link .link-icon svg, .purple-icon-link .link-icon svg, .purple-link .link-icon svg, .shaded-link .link-icon svg, .white-icon-link .link-icon svg, .white-link .link-icon svg, a .link-icon svg { display: block; width: 19px; height: auto; fill: #cac9d2; }
.black-link, .dark-link, .faded-link, .gray-link, .light-link, .pink-link, .purple-icon-link, .purple-link, .shaded-link, .white-icon-link, .white-link, a { vertical-align: top; display: inline-block; text-decoration: none!important; }
.black-link, .dark-link, .faded-link, .gray-link, .light-link, .pink-link, .purple-icon-link, .purple-link, .shaded-link, .white-icon-link, .white-link, a { outline: none; background: none; border: none; }

/*PIVX DONATION SECTION*/
.donation-section{ margin-top:50px; margin-bottom:100px; }

/*PIVX DASHBOARD*/
.dashboard-item{ background: rgba(43,9,80,.75); border-radius: 6px; padding: 40px; padding-right:15%; padding-left:15%; text-align: center; float:left; margin-bottom:15px;   }
.send-eligibility-section .container .column-padded-around .coinstat-icon, .supply-control-section .container .column-padded-around .coinstat-icon {margin-bottom: .5rem;}
.coinstat-icon, .coinstat-icon svg, .masternodes-requirements-section .masternode-requirement-icon, .masternodes-requirements-section .masternode-requirement-icon svg, .setup-icon, .setup-icon svg { margin: 0 auto;}
.coinstat-icon, .feature-icon, .masternodes-requirements-section .masternode-requirement-icon, .setup-icon {display: block;width: 75px;height: 75px;padding: 0;}
.coinstat-icon svg, .feature-icon svg, .masternodes-requirements-section .masternode-requirement-icon svg, .setup-icon svg { display: block; width: 75px; max-height: 75px; padding: 0; fill: #9621ff;  }
.dashboard-title{ margin-top:15px; }
.badge{     margin-bottom: 13px; }
.private-key-area{ height: 29px!important; font-size: 14px!important; padding-top: 4px; padding-bottom: 4px; background: #521685; border: none; resize: none; color: white; }
/*Breakpoints */

@media screen and (min-width: 1025px) {
  /* Network Data Settings */
  #addrStr {
    font-size: 20px;
  }
  #NetworkDataAddrs{
    float:right;
  }
  /*Main Wallet page */
  #PrivateTxt{
    font-size: 25px;
  }
  #PublicTxt{
    font-size: 25px;
  }
}
@media screen and (max-width: 1024px) {
  /* Network Data Settings */
  #addrStr {
    font-size: 20px;
  }
  #NetworkDataAddrs{
    float:left;
  }
  /*Main Wallet page */
  #PrivateTxt{
    font-size: 18px;
  }
  #PublicTxt{
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  /* Network Data Settings */
  #addrStr {
    font-size: 20px;
  }
  #NetworkDataAddrs{
    float:left;
  }
  /*Main Wallet page */
  #PrivateTxt{
    font-size: 17px;
  }
  #PublicTxt{
    font-size: 25px;
  }

}
@media screen and (max-width: 600px) {

/* Buttons - Hide icons or it will be deformed*/
  .buttoni-arrow, .buttoni-icon{ display:none; }


  /* Network Data Settings */
  #addrStr {
    font-size: 13px;
  }
  #NetworkDataAddrs{
    float:left;
  }
  /*Main Wallet page */
  #PrivateTxt{
    font-size: 13px;
  }
  #PublicTxt{
    font-size: 17px;
  }

}
@media screen and (max-width: 480px) {
  /* Network Data Settings */
  #addrStr {
    font-size: 13px;
  }
  #NetworkDataAddrs{
    float:left;
  }
  /*Main Wallet page */
  #PrivateTxt{
    font-size: 8px;
  }
  #PublicTxt{
    font-size: 13px;
  }

}
